 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>I've 7 years experience in developing web and mobile applications, web services, using React Native,React Js and other Cross platform as well as PHP and Node Js technologies.</p>
                    <p>I've successfully completed Website development projects, App Development, API integration projects, Payment gateway integration projects, Web API project.</p>
                    <p>Whether its a responsive website you need or you need Reliable Mobile application along with the web services for your mobile application or you want to integrate third party API, I'm here to provide customised solution for all your website/App development needs.</p>
                    <p>I'm interested in any projects in React native technology.</p>
                    <p>I don't sell you my programming skills, I achieve your business goals. I'm passionate about providing a fully customised solution to my clients with smile on their face:)</p>
                </div>
            </div>
        </div>
    </section>
